.chart-wrapper {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  height: calc(100vh - 8rem);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;

  @media (max-width: variables.$bp-2xl) {
    height: calc(100vh - 7rem);
  }

  @media (max-width: variables.$bp-sm) {
    padding: 0.2rem 1.2rem;
    height: calc(100vh - 5.5rem);
  }

  h2 {
    font-size: variables.$font-size-title;
    margin-bottom: 1rem;
    flex-shrink: 0;
  }

  .chart-body {
    flex: 1;
    min-height: 0;
  }

  svg text {
    font-family: variables.$font-family;
    font-size: variables.$font-size-tick;
    fill: variables.$color-text;
  }

  .recharts-tooltip-wrapper {
    font-size: 0.8rem;
  }
}
