// Typography
$font-family: 'Inter', sans-serif;
$font-size-title: 1.5rem;
$font-size-tick: 0.75rem;

// Colors
$color-text: #333;
$color-background: #f3f3f3;

// Breakpoints
$bp-sm: 600px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
$bp-2xl: 1600px;
